pkgbase = pressure-swap
	pkgdesc = A lightweight, PSI‑aware emergency swap manager with dynamic chunking
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Imran-Delta/pressure-swap
	arch = any
	license = zlib
	depends = bash
	depends = systemd
	depends = coreutils
	depends = procps-ng
	depends = util-linux
	optdepends = zram-generator: for automatic zram setup
	optdepends = numfmt: human‑readable output in dashboard
	source = src/pressure-swap.sh
	source = src/pressure-swap-dashboard
	source = src/pressure-swap.conf
	source = systemd/pressure-swap.service
	source = systemd/pressure-swap.timer
	source = LICENSE
	sha256sums = 87ac885399d2dcdc2d1fe14e697e164a14d9dcd404811ba6bf0cd2b7caf2a279
	sha256sums = 5e0d95a85d951af09b39e2ef119657ca4f1742838caf139927bc6cb26c0c6a33
	sha256sums = 450594bfee3728dd08ec1422b07c92dddce0516387e6ea68387161cb56475124
	sha256sums = 945d853638df484a30e149bc75f1cbae8eda3d67931892062f02faf56576f5ca
	sha256sums = d7a12324310ed632e690b1e058a6b943902e52c89325cf877291894a1ebfe3c2
	sha256sums = 4c374d64de1140806c3f8e3eeb6bed344ee79cafe1ee3c16809712abee6dc266

pkgname = pressure-swap
